{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tienda Virtual</title>
    <link rel="stylesheet" href="{% static 'estilos/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">GNIUX</div>
        <nav>
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Categorías</a>
                    <div class="dropdown-content">
                    {% for i in categorias %}
                        <a href="#">{{i.nombre}}</a>
                    {% endfor %}
                    </div>
                </li>
                <li><a href="login.html">Iniciar sesión</a></li>
                <li><a href="registro.html">Registrarse</a></li>
                <li><a href="principal.html">principal</a></li>
            </ul>
        </nav>
        <form class="buscador" action="" method="get">
            <input type="text" placeholder="Buscar productos..." name="q">
            <button type="submit">Buscar</button>
        </form>
    </header>

    <main>
        <section id="productos" class="productos">
            <h1>Productos </h1>
            <div class="producto-items">
            {% for i in productos %}
                <div class="producto">
                    <a href="{% url 'producto' i.id_producto %}" > 
                    <img src="{% static 'image/3x3.jpg' %}" alt="Producto 1">
                    <h2>{{i.nom_prod}}</h2>
                    <p>S/. {{i.precio}}</p>
                    </a>
                    
                    <button>Agregar al carrito</button>
                </div>
            {% endfor %}   
            </div>
        </section>
    </main>

    <footer id="contacto">
        <p>lalalalal</p>
        <p>&copy; lalalala</p>
    </footer>
</body>
</html>
